# 6일차

## 1. 넘파이

In [ ]:
import numpy as np
# 2행 2열 넘파이 배열만들기
arr1 = np.array([[1.5, 2], [3, 4]])
arr2 = np.array([[1, 2], [3, 4]])

#ndim > 차원을 알려주는 속성
print(arr1.ndim)
print(arr2.ndim)
#size > 전체 요소 크기
print(arr1.size)
print(arr2.size)
#shape >
print(arr1.shape)
print(arr2.shape)
#dtype > 
print(arr1.dtype)
print(arr2.dtype)

2
2
4
4
(2, 2)
(2, 2)
float64
int64

## 1-2) 넘파이 함수

In [ ]:
# np.zeros() 함수
arr3 = np.zeros((2, 5))
print(arr3, arr3.dtype)

# 정수형
arr3 = np.zeros((2, 5), dtype = 'i')
print(arr3, arr3.dtype)

#unit형
arr3 = np.zeros((2, 5), dtype = 'I')
print(arr3, arr3.dtype)

#유니코드
arr3 = np.zeros((2, 5), dtype = 'unicode')
print(arr3, arr3.dtype)

#바이트 문자열 대문자
arr3 = np.zeros((2, 5), dtype = 'S')
print(arr3, arr3.dtype)

#불리언
arr3 = np.zeros((2, 5), dtype = '?')
print(arr3, arr3.dtype)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]] float64
[[0 0 0 0 0]
 [0 0 0 0 0]] int32
[[0 0 0 0 0]
 [0 0 0 0 0]] uint32
[['' '' '' '' '']
 ['' '' '' '' '']] <U1
[[b'' b'' b'' b'' b'']
 [b'' b'' b'' b'' b'']] |S1
[[ True  True  True  True  True]
 [ True  True  True  True  True]] bool

In [ ]:
# np.ones()
arr4 = np.ones((1, 2))
print(arr4, arr4.dtype)

# 2행 3열로 모든 값이 1인 배열 > 타입 bool
arr4 = np.ones((2, 3), dtype = '?')
print(arr4, arr4.dtype)

[[1. 1.]] float64
[[ True  True  True]
 [ True  True  True]] bool

In [ ]:
# arange() : 연속된 정수로 배열 만들기
# arange(시작값, 종료값, 증감값)
arr5 = np.arange(3, 10)
print(arr5, arr5.dtype)
print(arr5.ndim)
print(arr5.shape)

# range()함수에서 실수형 불가능
# li1 = list(range(1, 5, 0.2))
# print(li1)

arr5 = np.arange(3, 10, 2, dtype = 'f')
print(arr5, arr5.dtype)

[3 4 5 6 7 8 9] int64
1
(7,)
[3. 5. 7. 9.] float32

In [ ]:
# transpose()
# 2행 3열 > 
arr6 = np.array([[1, 2, 3], [4, 5, 6]])
print(arr6)

# 1만추출
print(arr6[0][0])
print(arr6[1][0])

# 3행 2열
arr6_t = arr6.transpose()
print(arr6_t)
print(arr6_t[0][0])
print(arr6_t[0][1])

arr6_t1 = arr6_t.T
print(arr6_t1)

[[1 2 3]
 [4 5 6]]
1
4
[[1 4]
 [2 5]
 [3 6]]
1
4
[[1 2 3]
 [4 5 6]]

In [ ]:
# 2행 3열
ar1 = np.array([[10, 20], [30, 40]])
ar2 = np.array([[1, 2], [3, 4]])
print(ar1, ar1.dtype)
print(ar2, ar2.dtype)

print(ar1 + ar2)
print(ar1 - ar2)
print(ar1 * ar2)
print(ar1 / ar2)

[[10 20]
 [30 40]] int64
[[1 2]
 [3 4]] int64
[[11 22]
 [33 44]]
[[ 9 18]
 [27 36]]
[[ 10  40]
 [ 90 160]]
[[10. 10.]
 [10. 10.]]

In [ ]:
# 브로드캐스팅 : 행과 열이 다를 때 사용함(하나의 행이나 열이 같아야함)
# ar3 2행 1열 10, 20
# ar4 2행 3열 1,1,1 2,2,2
ar3 = np.array([[10], [20]])
print(ar3)
ar4 = np.array([[1, 1, 1], [2, 2, 2]])
print(ar4)

print(ar3 + ar4)
print(ar3 - ar4)
print(ar3 * ar4)
print(ar3 / ar4)

ar3 = ar3.T
print(ar3)
# print(ar3.shape)
ar4 = ar4.T
print(ar4)
# print(ar4.shape)

# 행이 동일할 때는 행끼리 계산, 열이 동일할 때는 열끼리 계산
print(ar3 + ar4)
print(ar3 - ar4)
print(ar3 * ar4)
print(ar3 / ar4)

ar3 = np.array([[10], [20]])
print(ar3)

ar4 = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
print(ar4)

# print(ar3 + ar4)
# print(ar3 - ar4)
# print(ar3 * ar4)
# print(ar3 / ar4)

[[10]
 [20]]
[[1 1 1]
 [2 2 2]]
[[11 11 11]
 [22 22 22]]
[[ 9  9  9]
 [18 18 18]]
[[10 10 10]
 [40 40 40]]
[[10. 10. 10.]
 [10. 10. 10.]]
[[10 20]]
[[1 2]
 [1 2]
 [1 2]]
[[11 22]
 [11 22]
 [11 22]]
[[ 9 18]
 [ 9 18]
 [ 9 18]]
[[10 40]
 [10 40]
 [10 40]]
[[10. 10.]
 [10. 10.]
 [10. 10.]]
[[10]
 [20]]
[[1 1 1]
 [2 2 2]
 [3 3 3]]

ValueError: ignored

# 2. 판다스

## 1) 기본구조

In [47]:
import pandas as pd

s = pd.Series(['python', 2022, 11, 25])
print(s)

s = pd.Series(['python', 2022, 11, 25], index = ['a', 'b', 'c', 'd'], name = 'python')
print(s)

0    python
1      2022
2        11
3        25
dtype: object
a    python
b      2022
c        11
d        25
Name: python, dtype: object

## 2) 딕셔너리 > 시리즈

In [53]:
import pandas as pd

city = {'서울':1, '경기':2, '강원':3}
print(city, type(city))

# 딕셔너리를 시리즈 변환
sr = pd.Series(city)
print(sr, type(sr))

# 인덱스와 배열을 선택
print(sr.index)

# 데이터 값 배열 선택
print(sr.values)

# 자료형
print(sr.dtype)

{'서울': 1, '경기': 2, '강원': 3} <class 'dict'>
서울    1
경기    2
강원    3
dtype: int64 <class 'pandas.core.series.Series'>
Index(['서울', '경기', '강원'], dtype='object')
[1 2 3]
int64

In [57]:
# 인덱스를 지정해서 변환
print(city)

s_city = pd.Series(city, index = ['a', 'b', 'c']) # 기존의 키값과 달라서 키값을 못찾게되고, 키값에 들어가있는 value 값을 가져올 수 없어서 NaN이라는 결과값 출력
print(s_city)

s_city = pd.Series(city, index = ['서울', '경기', '강원'])
print(s_city)

{'서울': 1, '경기': 2, '강원': 3}
a   NaN
b   NaN
c   NaN
dtype: float64
서울    1
경기    2
강원    3
dtype: int64

## 3) 리스트 > 시리즈

In [62]:
li_data = ['20221125', 11.25, 'python', 100, True]
print(li_data, type(li_data))

sr = pd.Series(li_data)
print(sr, '\n')

idx = sr.index
print(idx, '\n')

val = sr.values
print(val, '\n')

# 인덱스를 지정해서 변환
li_data = pd.Series(li_data, index = ['a', 'b', 'c', 'd', 'e'])
print(li_data)

['20221125', 11.25, 'python', 100, True] <class 'list'>
0    20221125
1       11.25
2      python
3         100
4        True
dtype: object

RangeIndex(start=0, stop=5, step=1)

['20221125' 11.25 'python' 100 True]

a    20221125
b       11.25
c      python
d         100
e        True
dtype: object

## 4) 튜플 > 시리즈

In [69]:
# tup_data = 'python', '20221125', True
# 인덱스 지정 > '과목명', '날짜', '강의수강여부'

tup_data = ('python', '20221125', True)
sr = pd.Series(tup_data, index = ['과목명', '날짜', '강의수강여부'])
print(sr)

# 정수형 위치 인덱스 사용: 리스트와 같은 원리
print(sr[0], '\n')

# 인덱스 이름(라벨) 사용: 딕셔너리와 같은 원리
print(sr['과목명'], '\n')

# 여러값을 인덱싱
print(sr[[1, 2]], '\n')
print(sr[['과목명', '강의수강여부']])
print(sr[0:2]) # 슬라이싱 시에는 대괄호 한번 사용

과목명         python
날짜        20221125
강의수강여부        True
dtype: object
python

python

날짜        20221125
강의수강여부        True
dtype: object

과목명       python
강의수강여부      True
dtype: object

## 5) 시리즈 > 딕셔너리 or 리스트

In [73]:
print(li_data) # 시리즈

s_li = list(li_data)
print(s_li)

print(s_city)
s_di = dict(s_city)
print(s_di)

a    20221125
b       11.25
c      python
d         100
e        True
dtype: object
['20221125', 11.25, 'python', 100, True]
서울    1
경기    2
강원    3
dtype: int64
{'서울': 1, '경기': 2, '강원': 3}

In [74]:
# 시리즈 이름부여
s_city.name = '도시'
print(s_city)

서울    1
경기    2
강원    3
Name: 도시, dtype: int64

In [80]:
# 시리즈에서 인덱스 수정
s_city.rename({'서울':10}) # inplace 속성값을 주지 않으면 원본 영향을 미치지 않음
print(s_city)

s_city.rename({'경기':20}, inplace = True)
print(s_city)

10    1
경기    2
강원    3
Name: 도시, dtype: int64
10    1
20    2
강원    3
Name: 도시, dtype: int64

In [83]:
# 시리즈 값찾기
print(s_city['강원'])

3

## 6) 시리즈 값 수정, 추가, 삭제

In [95]:
di_data = {'서울':1, '경기':2, '강원':3}
li_data = ['20221125', 11.25, 'python', 100, True]

sr1 = pd.Series(di_data)
sr2 = pd.Series(li_data)
print(sr1)
print(sr2)

# 수정
sr1['서울'] = 30 #값 변경시 dtype 변화 없음
print(sr1)

sr2[1] = 5
print(sr2)

sr2[4] = False
print(sr2)

# 추가
sr1['부산'] = 4
print(sr1)

sr2[5] = 50 # 위치 인덱스 지정 추가시도 > 시리즈에서 바로 추가 시도 시 추가됨
print(sr2)

# li_data[5] = 50 # 위치 인덱스로 원본 리스트에서 추가 시도 시 오류 발생
# print(li_data)

# 삭제
del sr1['부산']
print(sr1)

di_data.pop('서울') # 딕셔너리에서 원본에서 삭제
print(di_data)
sr1.pop('서울') # 시리즈에서 삭제
print(sr1)

서울    1
경기    2
강원    3
dtype: int64
0    20221125
1       11.25
2      python
3         100
4        True
dtype: object
서울    30
경기     2
강원     3
dtype: int64
0    20221125
1           5
2      python
3         100
4        True
dtype: object
0    20221125
1           5
2      python
3         100
4       False
dtype: object
서울    30
경기     2
강원     3
부산     4
dtype: int64
0    20221125
1           5
2      python
3         100
4       False
5          50
dtype: object
서울    30
경기     2
강원     3
dtype: int64
{'경기': 2, '강원': 3}
경기    2
강원    3
dtype: int64

# 3. 데이터 프레임

## 1) 기본구조

In [96]:
import pandas as pd

values = [[1,2,3], [4,5,6], [7,8,9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index = index, columns = columns)
print(df)
df

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

## 2) 딕셔너리 > 데이터 프레임

In [107]:
data_dict = {'name':['짱구', '철수', '유리', '맹구'], 'score':[50, 66, 90, 20]}
print(data_dict)

df = pd.DataFrame(data_dict, columns = ['name', 'score'])
df

df.index = ['학생1', '학생2', '학생3', '학생4']
df

{'name': ['짱구', '철수', '유리', '맹구'], 'score': [50, 66, 90, 20]}

    name  score
학생1   짱구     50
학생2   철수     66
학생3   유리     90
학생4   맹구     20

## 3) 리스트 > 데이터 프레임

In [106]:
values = [[1,2,3], [4,5,6], [7,8,9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index = index, columns = columns)
df

print(df.index)
print(df.columns)

# 인덱스명 변경
df.index = ['일', '이', '삼']
df

# 컬럼명 변경
df.columns = ['a', 'b', 'c']
df

{'name': ['짱구', '철수', '유리', '맹구'], 'score': [50, 66, 90, 20]}

  name  score
0   짱구     50
1   철수     66
2   유리     90
3   맹구     20

In [111]:
data_li = [['1000', '짱구', 70.5], ['1001', '철수', 90.2], ['1002', '훈이', 60.4], ['1003', '맹구', 78.9]]
df = pd.DataFrame(data_li)
df

# columns 지정 학번, 이름, 점수
df.columns = ['학번', '이름', '점수']
df
# index 지정 학생1, 학생2, 학생3, 학생4
df.index = ['학생1', '학생2', '학생3', '학생4']
df

       학번  이름    점수
학생1  1000  짱구  70.5
학생2  1001  철수  90.2
학생3  1002  훈이  60.4
학생4  1003  맹구  78.9

## 4) 데이터 프레임 > 리스트

In [124]:
student = {'name':['짱구', '철수', '유리', '맹구'], 'score':[50, 66, 90, 20]}
df = pd.DataFrame(student, columns = ['name', 'score'])
df

# 데이터프레임을 리스트로 변환
student_li = df.values.tolist()
print(student_li)

# 컬럼과 값을 함계 리스트로 변환
item_list = df.columns.values.tolist() + df.values.tolist()
print(item_list)

# 특정값만 리스트로 변환
item_list = df['name'].values.tolist()
print(item_list)

# append 훈이
item_list.append('훈이')
print(item_list)

# 참고 
print(df.columns.tolist())
print(df.index.tolist())


import numpy as np
import pandas as pd
df = pd.DataFrame([['짱구', 5, '서울'], ['훈이', 5, '부산'], ['맹구', 7, '서울']], columns = ['Name', 'Age', 'City'])

arr1 = np.array([[1,2,3], [4,5,6]])
print(arr1) # 넘파이에서 행과 열로 지정되서 출력됨
arr2 = arr1.tolist()
print(arr2) # 행과 열이 지정되지 않고 하나의 리스트로 출력됨

# 열이름 = 키, 레코드 = 값, 인덱스 = 키
# li1 = df.tolist()

print(df.to_dict())
print(df.to_dict('list'))
print(df.to_dict('index'))
print(df.to_dict('records'))
df

[[1, 2, 3], [4, 5, 6]]
{'Name': {0: '짱구', 1: '훈이', 2: '맹구'}, 'Age': {0: 5, 1: 5, 2: 7}, 'City': {0: '서울', 1: '부산', 2: '서울'}}
{'Name': ['짱구', '훈이', '맹구'], 'Age': [5, 5, 7], 'City': ['서울', '부산', '서울']}
{0: {'Name': '짱구', 'Age': 5, 'City': '서울'}, 1: {'Name': '훈이', 'Age': 5, 'City': '부산'}, 2: {'Name': '맹구', 'Age': 7, 'City': '서울'}}
[{'Name': '짱구', 'Age': 5, 'City': '서울'}, {'Name': '훈이', 'Age': 5, 'City': '부산'}, {'Name': '맹구', 'Age': 7, 'City': '서울'}]

  Name  Age City
0   짱구    5   서울
1   훈이    5   부산
2   맹구    7   서울

## 5) 데이터프레임 > 딕셔너리

In [129]:
import numpy as np
import pandas as pd
df = pd.DataFrame([['짱구', 5, '서울'], ['훈이', 5, '부산'], ['맹구', 7, '서울']], columns = ['Name', 'Age', 'City'])

arr1 = np.array([[1,2,3], [4,5,6]])
print(arr1) # 넘파이에서 행과 열로 지정되서 출력됨
arr2 = arr1.tolist()
print(arr2) # 행과 열이 지정되지 않고 하나의 리스트로 출력됨

# 열이름 = 키, 레코드 = 값, 인덱스 = 키
# li1 = df.tolist()

print(df.to_dict())
print(df.to_dict('list'))
print(df.to_dict('index'))
print(df.to_dict('records'))
df

[['짱구', 50], ['철수', 66], ['유리', 90], ['맹구', 20]]
['name', 'score', ['짱구', 50], ['철수', 66], ['유리', 90], ['맹구', 20]]
['짱구', '철수', '유리', '맹구']
['짱구', '철수', '유리', '맹구', '훈이']
['name', 'score']
[0, 1, 2, 3]