1. 저녁을 먹기위해 식당에 가서 받은 메뉴판은 아래 [출력결과]와 같다. 메뉴판을 동일하게 출력하기
(문자열 정렬 메소드 이용해 아래와 같은 결과가 출력되도록하기, 조금씩 달라지는 부분은 무시해도됨)

[출력결과]
갈비탕		    12000원
소불고기		  9000원
김치찌개		  7000원
된장찌개		  7000원
떡볶이		     4000원

In [ ]:
# .format()함수의 왼쪽정렬 옵션 사용
print("갈비탕 {:>15d}원".format(12000))
print("소불고기 {:>14d}원".format(9000))
print("김치찌개 {:>14d}원".format(7000))
print("된장찌개 {:>14d}원".format(7000))
print("떡볶이 {:>15d}원".format(4000))

갈비탕           12000원
소불고기           9000원
김치찌개           7000원
된장찌개           7000원
떡볶이            4000원

2. 딕셔너리형 성적 데이터로 평균 구하는 프로그램
records = { '짱구' : 72, '철수' : 100, '맹구' : 82, '훈이' : 63, '유리' : 91}
이렇게 학생 이름과 점수가 들어가 있을때 평균점을 계산해서 결과를 표시하고 성적 데이터의 목록과 평균과의 차이를 구하기
* 아래와 같은 결과가 출력되도록 할 것(왼쪽정렬 7문자, 오른쪽정렬 4문자, 오른쪽정렬 6문자)

[출력결과]
총점 : 408점
평균점수 : 81.6점 
유리       91   9.4
짱구       72  -9.6
철수      100  18.4
훈이       63 -18.6

In [ ]:
records = { '짱구' : 72, '철수' : 100, '맹구' : 82, '훈이' : 63, '유리' : 91}
# sum()메소드를 이용하여 딕셔너리 밸류값만 출력하는.values()메소드의 밸류값의 합을 구함
sum1 = sum(records.values())
print("총점 : {}점 ".format(sum1))
# 밸류값의 합에 / 5를 하여 평균값을 구함
mean = sum(records.values())/5
print("평균점수 : {}점".format(mean))
# .items()메소드로 키와 값을 분해해서 출력하고 for반복문을 사용해 각 키와 값을 한줄에 하나씩 출력하고
# .format() 메소드를 사용해서 Key, Value 값을 출력할때 각각 넣어줌
for k,v in records.items():
    print("{} {:>7d} {}".format(k, v, ))

총점 : 408점
평균점수 : 81.6점
짱구      72
철수     100
맹구      82
훈이      63
유리      91

3. 아래 5문제 출력하기

3-1. string = 'abc14536qaaawer2po4ai5aua6' 에서 a를 대문자 A로 변경하기

In [ ]:
# 문자열의 일부 문자열을 다른 문자열로 바꾸는 .replace()메소드 사용
string = 'abc14536qaaawer2po4ai5aua6'
print(string.replace('a','A'))

Abc14536qAAAwer2po4Ai5AuA6

3-2. num = [1, 2, 3, 4, 5] 리스트에 들어있는 숫자를 역방향으로 출력하기
print(sorted(num, reverse = True))

In [ ]:
# 내림차순 정렬 sorted(,reverse = True)메소드 사용
num = [1, 2, 3, 4, 5] 
print(sorted(num, reverse = True))

[5, 4, 3, 2, 1]

3-3. 회사 이름이 ','로 구분되어 하나의 문자열로 저장되어있을때 리스트로 분리저장하여 출력하기
company = "카카오, NAVER, 삼성전자, LG전자"

In [ ]:
#하나의 문자열을 여러개의 문자열로 분리하여 저장한 리스트를 반환하는 .split()메소드 사용
company = "카카오, NAVER, 삼성전자, LG전자"
print(company.split())

['카카오,', 'NAVER,', '삼성전자,', 'LG전자']

3-4. 1부터 99까지의 정수 중 짝수만 저장된 튜플로 출력하기

In [ ]:
# for문으로 1부터 99까지의 정수를 출력한다
for i in range(1,100):
    # if 조건문을 이용해 짝수만 출력한다
    if i % 2 == 0:
        # 짝수만 튜플로 저장하기 위해 튜플로 출력해준다
        print(tuple([i]),end='')

(2,)(4,)(6,)(8,)(10,)(12,)(14,)(16,)(18,)(20,)(22,)(24,)(26,)(28,)(30,)(32,)(34,)(36,)(38,)(40,)(42,)(44,)(46,)(48,)(50,)(52,)(54,)(56,)(58,)(60,)(62,)(64,)(66,)(68,)(70,)(72,)(74,)(76,)(78,)(80,)(82,)(84,)(86,)(88,)(90,)(92,)(94,)(96,)(98,)

3-5. 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]

[출력결과]
301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]
# for문 사용해서 인덱스값 step값을 -1로 줘서 오름차순으로 출력
for numbers in apart[::-1]:
    # 인덱스에 0을 넣어서 0번째 값 출력
  print(f"{numbers[0]} 호")
    # 인덱스에 1을 넣어서 1번째 값 출력
  print(f"{numbers[1]} 호")

301 호
302 호
201 호
202 호
101 호
102 호

3-6. 과일명과 가격이 있는 튜플 2개가 있을 때 과일명은 key가 가격은 value가 되도록 출력하기
Q) 컬렉션 중 어떤 형태로 되는가? (딕셔너리)

fruit = ("apple", " peach", "banana", "melon")
price = (4000, 5000, 1500, 8000)

In [ ]:
fruit = ("apple", " peach", "banana", "melon")
price = (4000, 5000, 1500, 8000)
# 변수 frui와 price를 딕셔너리로 변환해서 zip메소드로 출력
sum = dict(zip(fruit,price))
print(sum)

{'apple': 4000, ' peach': 5000, 'banana': 1500, 'melon': 8000}

4. 우리나라 전화번호는 '지역번호-국번-가입자개별번호' 형식으로 되어있다.
02-534-2425
02-4069-7534
031-3646-0796
032-691-0123

어떤 형식의 번호를 입력하더라도 '국번'을 추출혀여 출력하는 프로그램 구현하기

[출력결과]
전화번호를 입력하세요 : 02-1234-5678
1234

In [ ]:
 

def getMobile(s):
    header = ['010','011','016','017','018','019']
    ans = ''
    for i in range(len(s)):
        if s[i].isnumeric():
            ans = ans + s[i]
    if len(ans)==10 or len(ans)==11:
        if ans[:3] not in header:
            return False
    else:
        return False
    return ans

전화번호를 입력하세요: 02-1234-5678
[]

5. 커피자판기 프로그램 만들기. 커피자판기는 다음과 같이 동작한다.
(1) 커피자판기에 돈과 주문할 커피를 전달한다.
(2) 주문할 수 있는 커피의 종류와 가격은 아래와 같다.
		- 아메리카노 : 4100원
		- 카페라떼 : 4600원
		- 카푸치노 : 5000원
(3) 없는 커피를 주문할 경우 입력한 돈을 그대로 반환한다.
(4) 구매 금액이 부족하면 입력한 돈을 그대로 반환한다.
(5) 정상주문이면 주문한 커피와 잔돈을 반환한다.

[출력결과]
1. 없는 커피 주문할경우
커피를 선택하세요(아메리카노, 카페라떼, 카푸치노) : 콜드브루
얼마를 내시나요 : 4000원
4000원에 콜드브루를 선택하셨습니다.
잔돈 4000원. 커피 없는 메뉴

2. 주문 금액 부족한 경우
커피를 선택하세요(아메리카노, 카페라떼, 카푸치노) : 아메리카노
얼마를 내시나요 : 4000원
4000원에 아메리카노를 선택하셨습니다.
아메리카노는 4100원입니다.
잔돈 4000원. 커피 금액 부족

3. 정상 주문인 경우
커피를 선택하세요(아메리카노, 카페라떼, 카푸치노) : 카페라떼
얼마를 내시나요 : 5000원
4000원에 카페라떼를 선택하셨습니다.
잔돈 400원. 커피 카페라떼

In [ ]:
menu = {'-아메리카노':4100,'-카페라떼':4600,'-카푸치노':5000}  #-없앰
def receipt():
    for k,v in menu.items():
        print("{} {:>7d}원 ".format(k, v))
#    print("{}원에 {}를 선택하셨습니다.".format(money,choice))
def  condition(choice,money): #품목과 돈을 인수로 받고
    if choice not in menu: 
        print("잔돈 {}원. 커피 없는메뉴".format(money))
    elif money < menu[choice]:
        print("잔돈 {}원. 커피 금액부족".format(money))
    else:
        print("잔돈 {}원. 커피 {}".format(money-menu[choice],choice))
receipt()
choice = input("커피를 선택하세요(아메리카노, 카페라떼, 카푸치노): ") #주문은 메뉴를 보여준 후에
money = int(input("얼마를 내시나요 : "))
print("{}원에 {}를 선택하셨습니다.".format(money,choice))
condition(choice,money) #품목과 돈을 인수로 넘긴다.

-아메리카노    4100원
-카페라떼    4600원
-카푸치노    5000원
커피를 선택하세요(아메리카노, 카페라떼, 카푸치노): 아메리카노
얼마를 내시나요 : 4100
4100원에 아메리카노를 선택하셨습니다.
잔돈 4100원. 커피 없는메뉴

6. find_max() 함수명으로 [5, 3, 2, 6, 8, 10, 9, 1] 중 최대값과 최소값을 동시에 구해 반환하는 함수 만들기

In [ ]:
list1 =  [5, 3, 2, 6, 8, 10, 9, 1]
# def 사용자 정의함수를 사용하여 find_max()함수를 만듬
def find_max():
    # 최댓값 구하는 max()메소드와 최솟값 구하는 min()메소드 사용
    print(f"최대값: {max(list1)}")
    print(f"최솟값: {min(list1)}")

# find_max() 함수 호출
find_max()

최대값: 10
최솟값: 1